@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

@font-face {
    font-family: 'Yeseva One', serif;
    src: url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
}

// colors
$yellow: #E3B873;
$black: #131313;
// fonts
$nunito: 'Nunito Sans',
sans-serif;
$yeseva: 'Yeseva One',
serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    color: white;
    font-family: $nunito;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: white;
    font-size: 11px;
    font-family: $nunito;
    text-transform: uppercase;
    background-color: $yellow;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: $yeseva;
}

.active {
    color: $yellow;
}

// temporary
.txt-yellow {
    color: $yellow;
}
// temporary

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 92px;
}

header {
    background-color: $black;
}

.navbar {
    // padding: 24px 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $nunito;
    font-size: 11px;
    color: white;
    line-height: 15px;
    text-transform: uppercase;
    height: 83px;



    ul {
        display: flex;
        justify-content: space-between;
        width: 580px;
    }


}

.logo {
    color: $yellow;
}

.phone {
    text-decoration: underline;
    color: $yellow;
}

.btn-menu {
    padding: 13px 33px;
    font-style: italic;
}

.hero {
    
    background-size: contain;
    background-image: url(/img/hero.jpg);
}

.hero-wrapper {
    padding: 194px 0px 208px 40px;
    max-width: 50%;
  
    

    h1 {
        font-size: 40px;
        line-height: 53px;
        padding-bottom: 19px;
    }

    p {
        font-size: 22px;
        padding-bottom: 35px;
        line-height: 36px;
    }

    button {
        width: 220px;
        height: 51px;
        font-style: italic;
        margin-right: 21px;
        margin-bottom: 26px;
    }

    button:last-child {
        background: none;
        border: 1px solid #FFFFFF;
        box-shadow: none;
    }
}

@media screen and (max-width: 1300px) {
    // header
    nav, .btn-menu {
        display: none;
    }
    .navbar {
        height: 57px;
    }
    
    .phone {
        text-decoration: none;
        color: white;
    }

    // section hero
    .hero-wrapper {
        max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
        padding: 0 18px;
    }
    // section hero
    .hero-wrapper {
        max-width: 100%;
        padding: 85px 0 61px;

        h1 {
            font-size: 23px;
            line-height: 30px;
        }

        p {
            font-size: 14px;
            line-height: 19px;
        }

        button {
            width: 100%;
            border-radius: 0;
        }

        
    }
   
  }