@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
}
@font-face {
  font-family: "Yeseva One", serif;
  src: url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html, body {
  overflow-x: hidden;
}

body {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: white;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Yeseva One", serif;
}

.active {
  color: #E3B873;
}

.txt-yellow {
  color: #E3B873;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 92px;
}

header {
  background-color: #131313;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  color: white;
  line-height: 15px;
  text-transform: uppercase;
  height: 83px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 580px;
}

.logo {
  color: #E3B873;
}

.phone {
  text-decoration: underline;
  color: #E3B873;
}

.btn-menu {
  padding: 13px 33px;
  font-style: italic;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-size: 100% auto;
}

.hero-wrapper {
  padding: 194px 0px 208px 40px;
  max-width: 50%;
}
.hero-wrapper h1 {
  font-size: 40px;
  line-height: 53px;
  padding-bottom: 19px;
}
.hero-wrapper p {
  font-size: 22px;
  padding-bottom: 35px;
  line-height: 36px;
}
.hero-wrapper button {
  width: 220px;
  height: 51px;
  font-style: italic;
  margin-right: 21px;
  margin-bottom: 26px;
}
.hero-wrapper button:last-child {
  background: none;
  border: 1px solid #FFFFFF;
  box-shadow: none;
}

.projects {
  background-color: #131313;
}
.projects h2,
.projects h3 {
  color: #E3B873;
}

.projects-wrapper {
  padding: 26px 42px 90px;
  display: grid;
  grid-template-areas: "header slider" "titles slider";
}

.projects-header {
  grid-area: header;
  margin: 68px 50px 55px 0;
}
.projects-header h2 {
  margin-bottom: 34px;
}
.projects-header p {
  font-size: 14px;
}

.projects-entities {
  grid-area: titles;
  display: grid;
  justify-content: start;
  grid-template-columns: auto auto;
  -moz-column-gap: 67px;
       column-gap: 67px;
  row-gap: 45px;
}

.projects-info {
  display: block;
  font-size: 13px;
  line-height: 21px;
  margin-top: 9px;
}

.slider-wrapper {
  grid-area: slider;
  width: 680px;
}

.slide-titles {
  font-family: "Yeseva One", serif;
  color: rgba(255, 255, 255, 0.3019607843);
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  line-height: 19.4px;
}
.slide-titles li:first-child {
  color: #E3B873;
}
.slide-titles li:first-child .underline {
  border: 1px solid #E3B873;
}

.slide-title {
  padding-right: 60.5px;
}

.underline {
  border: 1px solid #131313;
}

.pagination button {
  background: none;
  box-shadow: none;
  border: none;
}

.pagination-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.pagination-outer :nth-child(2) {
  background-color: white;
}

.ball {
  height: 9.57px;
  width: 9.57px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin: auto 17px;
  cursor: pointer;
}

.pagination-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -50%;
  margin: auto 14px;
  display: none;
}

#slider {
  width: 679px;
  height: 482px;
  margin-top: 45px;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  margin: 0 5px;
  transition: transform 1s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.slide-1 {
  background-image: url("../img/slide1.jpg");
}

.slide-2 {
  background-image: url("../img/slide2.jpg");
}

.slide-3 {
  background-image: url("../img/slide3.jpg");
}

@media screen and (max-width: 1300px) {
  nav,
.btn-menu {
    display: none;
  }
  .navbar {
    height: 57px;
  }
  .phone {
    text-decoration: none;
    color: white;
  }
  .hero-wrapper {
    max-width: 100%;
  }
  .projects-wrapper {
    grid-template-areas: "header" "slider" "titles";
    justify-content: center;
  }
  .slider-wrapper {
    margin: 0 auto 36px;
    width: auto;
  }
  .slide-titles {
    justify-content: space-between;
  }
  .slide-title {
    padding: 0;
  }
  #slider {
    background-position: center;
  }
  .pagination-outer {
    display: none;
  }
  .pagination-inner {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
  .hero-wrapper {
    max-width: 100%;
    padding: 85px 0 61px;
  }
  .hero-wrapper h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .hero-wrapper p {
    font-size: 14px;
    line-height: 19px;
  }
  .hero-wrapper button {
    width: 100%;
    border-radius: 0;
  }
  .slide-titles {
    display: none;
  }
  #slider {
    width: 340px;
    height: 241px;
    margin: 0;
  }
  .projects-header {
    text-align: center;
    margin: 36px auto 70px;
  }
  .projects-header h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .projects-header p {
    font-size: 11px;
    line-height: 17px;
  }
}/*# sourceMappingURL=style.css.map */